@model MVCSTOK.Models.Entity.Tbl_Urunler
@{
    ViewBag.Title = "UrunGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@using (Html.BeginForm("Guncelle", "Urunler", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.UrunId)
        @Html.TextBoxFor(m => m.UrunId, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.UrunAd)
        @Html.TextBoxFor(m => m.UrunAd, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.Marka)
        @Html.TextBoxFor(m => m.Marka, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.UrunKategori)
        @*@Html.TextBoxFor(m => m.UrunKategori, new { @class = "form-control" })*@
        @Html.DropDownListFor(m=>m.Tbl_Kategori.KategoriId,(List<SelectListItem>)ViewBag.dgr,new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.Fiyat)
        @Html.TextBoxFor(m => m.Fiyat, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.Stok)
        @Html.TextBoxFor(m => m.Stok, new { @class = "form-control" })
    </div>
    <div>
        <button class="btn btn-info">Güncelle</button>
    </div>
}


