@model MVCSTOK.Models.Entity.Tbl_Satislar
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<button type="button" class="btn btn-info" data-toggle="modal" data-target="#Modal1">Satış Yap</button>
<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title">Satış Yapma Ekranı</h2>
            </div>
            <form method="post" action="/Satislar/Satislar/">
                <div class="modal-body">
                    <label>ÜRÜN ADI</label>
                    @Html.TextBoxFor(m => m.Urun, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Urun, "", new { @style = "color:red" })
                    <br />
                    <label>MÜŞTERİ ADI SOYADI</label>
                    @Html.TextBoxFor(m => m.Musteri, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Musteri, "", new { @style = "color:red" })
                    <br />
                    <label>Adet</label>
                    @Html.TextBoxFor(m => m.Adet, new { @class = "form-control" })
                    <br />
                    <label>Fiyat</label>
                    @Html.TextBoxFor(m => m.Fiyat, new { @class = "form-control" })
                    <br />
                    <button type="submit" class="btn btn-success">SATIŞ İŞLEMİNİ YAP</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">SATIŞI İPTAL ET</button>
                </div>
            </form>
        </div>
    </div>

</div>

